
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CommonModule Home/Index  @ViewData["UserName"]</h2>
<p> Employee List has count : @ViewData["employee_list"]</p>

